@font-face {
  font-family: 'NotoSansJP';
  src: url('./fonts/NotoSansJP-Light.otf');
  font-weight: lighter;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('./fonts/NotoSansJP-Medium.otf');
  font-weight: medium;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('./fonts/NotoSansJP-Regular.otf');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSansJP';
  src: url('./fonts/NotoSansJP-Bold.otf');
  font-weight: bold;
}

:root{
  --light-green: #32afb2;
  --light-grey: #555e70;
  --dark-grey: #313844;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body {
  font-family: 'NotoSansJP';
  background-color: #2a2a2e;
  min-width: 320px;
  width: 100vw;
  display: flex;
  justify-content: center;
}

h1{
  color: var(--light-green);
  font-size: 3rem;
  margin-bottom: 14px;
}

h2{
  font-weight: lighter;
  color: var(--dark-grey);
  font-size: 2.2rem;
  margin-bottom: 12px;

}

h3{
  color: var(--light-green);
  margin-bottom: 4px;
}

p{
  font-weight: lighter;
  font-size: 1.4rem;
  color: var(--light-grey);
  margin-bottom: 23px;
}

ul{
  list-style:none;
  font-weight: lighter;
  font-size: 1.4rem;
}

li{
  padding-left: 1rem;
}

a{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
  color: inherit;
}

hr{
  width: 100%;
}

li::before{
  content: '+ ';
  color: #32afb2;
  font-weight: bold;
}

.picture hr{
  margin: 0 auto;
}

.container{
  display: grid;
  grid-template-areas:  'profile'
                        'experience'
                        'training'
                        'skills'
                        'languages'
                        'contact';
  grid-template-columns: 1fr;
  width: 100vw;
  margin: 0 auto;
  color: var(--light-grey);
  padding: 0 2rem;
  background-color: #FFF;
  min-width: 320px;
}

.picture{
  display: none;
}

.picture img{
  width: 198px;
  border-radius: 50%;
  margin: 35px 60px;
}

.contact {
  grid-area: contact;

}

.profile{
  margin-top: 35px;
  grid-area: profile;
}

.experience{
  grid-area: experience;
}

.training{
  margin: 10px 0;
  grid-area: training;
}

.skills{
  margin: 10px 0;
  grid-area: skills;
  display: inline;
}

.languages{
  margin: 10px 0;
  grid-area: languages;
  display: inline;
  font-weight: lighter;
  font-size: 1.4rem;
}

#save{
  position: absolute;
  top: 3rem;
  right: 1rem;
  color: var(--dark-grey);
  background-color: var(--light-green);
  border: none;
  padding: 1.4rem;
  border-radius: 1rem;
  font-size: 1.4rem
}

#back{
  position: absolute;
  top: 3rem;
  right: 10rem;
  color: var(--dark-grey);
  background-color: #FFD42A;
  padding: 1.2rem;
  border-radius: 1rem;
  font-size: 1.4rem
}

.experience-item{
  position: relative;
}

.experience-item a{
  text-decoration: none;
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 0;
  background-color: var(--light-green);
  padding: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  color: white;
  font-weight: 700;
}

div .more{
  font-size: 1.4rem;
  color: var(--light-green);
  font-weight: bold;
}

div .more:hover{
  color: var(--light-grey);
}

@media print{

  html,body{
    height:297mm;
    width:210mm;
  }

  .noprint{
    visibility: hidden;
  }

  .container{
    display: grid;
    grid-template-areas: 'pic profile profile'
                          'contact experience experience'
                          'contact training training'
                          'contact skills languages';
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 210mm;
    padding: auto;
    position: absolute;
  }

  .picture{
    grid-area: pic;
    display: inline;
  }

  hr{
    width: 90%;
  }

  .contact {
    margin: 5px 30px;
  }

  #save{
    right: 1rem;
    top: 4rem;
    padding: 1rem;
    z-index: 10;
  }

  #back{
    right: 1rem;
    top: 8rem;
    padding: 0.8rem;
    z-index: 10;
  }
}

@media (min-width: 640px){

  .container{
    display: grid;
    grid-template-areas: 'pic profile profile'
                          'contact experience experience'
                          'contact training training'
                          'contact skills languages';
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    max-width: 210mm;
    padding: auto;
    position: absolute;
  }

  .picture{
    grid-area: pic;
    display: inline;
  }

  hr{
    width: 90%;
  }

  .contact {
    margin: 5px 30px;
  }

  #save{
    right: 1rem;
    top: 4.5rem;
    padding: 1rem;
  }

  #back{
    right: 9rem;
    top: 4.5rem;
    padding: 0.8rem;
  }

}

@media (min-width: 724px) {
  #save{
    right: 1rem;
    top: 4.5rem;
    padding: 1rem;
  }

  #back{
    right: 9rem;
    top: 4.5rem;
    padding: 0.8rem;
  }
}

@media (max-width: 400px){
  #save{
    right: 80px;
    top: 2px;
    padding: 0.5rem;
  }

  #back{
    right: 10px;
    top: 2px;
    padding: 0.3rem;
  }
}