:root {
    --Black-haze:#F1F2F2; /*background*/
    --gumbo:#76A2AD; /*light accent*/
    --saffron: #FFD42A; /*primary*/
    --roman-coffee: #7C5D4B; /*Dark accent*/
    --baltic-sea: #28232a; /*dark background*/
    --open-sans: 'Open Sans', sans-serif;
    --noto-sans:  'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    display: grid;
    grid-auto-rows: minmax(90px, auto);
    font-family: var(--noto-sans);
    background-color: var(--Black-haze);
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 10;
}

nav {
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--saffron);
    grid-row: 1;
}

.logo {
    border: 2px solid var(--baltic-sea);
    color: var(--baltic-sea);
    height: 50px;
    width: 50px;
    font-size: 2.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1.5rem;
    padding-right: 0.2rem;
    font-weight: 700;
}

.menu-btn {
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--baltic-sea);
    z-index: 10;
}

.menu-icon{
    font-size: 3rem;
}

.menu-list {
    background-color: var(--saffron);
    height: 100vh;
    position: absolute;
    left: 120vw;
    list-style: none;
    top: 0;
    transition: left 1s ease;
    font-size: 2rem;
    padding-top: 120px;
}

.menu-list.show{
    left: 40vw;
    width: 60vw;
}

.menu-item{
    width: 60vw;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item a{
    text-decoration: none;
    color: var(--baltic-sea);
}

main {
    padding-top: 90px;
    width: 100vw;
}

.titles{
    grid-row: 2;
}

#about{
    grid-row: 3;
}

h1{
    font-size: 4.2rem;
    font-family: var(--open-sans);
    margin: 1.6rem 2rem 0 2rem;
    font-weight: bold;
}

h2{
    font-size: 1.8rem;
    margin: 0 2rem 1rem 2rem;
    color: var(--gumbo);
}

article{
    padding: 2rem 2rem 2rem 2rem;
    font-weight: 300;
}

.article-title{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    height: 4rem;
    padding-left: 1rem;
}

.article-title h3 {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.article-title span {
    color: var(--gumbo);
    margin-right: 1rem;
}

article p {
    margin: 1.2rem auto;
    line-height: 2.8rem;
    font-size: 1.6rem;
}

.dark{
    background-color: var(--baltic-sea);
    color: var(--Black-haze);
}

.light{
    background-color: var(--Black-haze);
    color: var(--baltic-sea);
}

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
}


.carousel {
    align-self: center;
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 95vw;
}

.card{
    min-width: 90vw;
    max-width: 320px;
    border-radius: 1rem;
    background-color: var(--Black-haze);
    color: var(--baltic-sea);
    padding: 2rem;
    margin: 4rem 1.8rem;
    scroll-snap-align: center;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img {
    width: 100%;
}

.card h2 {
    text-align: center;
    padding-top: 1rem;
}

.card p {
    text-align: center;
}

.card img {
    border-radius: 1rem;
}

.carousel-prev, .carousel-next{
    position: absolute;
    top: 50%;
    background-color: var(--gumbo);
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    border: none;
    color: var(--Black-haze);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-prev{
    left: 0;
    z-index: 1;
}

.carousel-next{
    right: 0;
}
.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills h3 {
    font-size: 2rem;
    color: var(--baltic-sea);
    padding: 1rem;
}

.skills span {
    color: var(--gumbo);
    padding-left: 1rem;
}

.before {
    width: 25vw;
    border-bottom: 2px solid var(--gumbo);
}
.after {
    width: 25vw;
    border-bottom: 2px solid var(--gumbo);
}

.skill-icons {
    padding: 2rem 0;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

footer {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: space-evenly;
}

footer a {
    display: inline;
    width: 10vw;
}