:root {
    --Black-haze: #F1F2F2;
    /*background*/
    --gumbo: #76A2AD;
    /*light accent*/
    --saffron: #FFD42A;
    /*primary*/
    --roman-coffee: #7C5D4B;
    /*Dark accent*/
    --baltic-sea: #28232a;
    /*dark background*/
    --open-sans: 'Open Sans', sans-serif;
    --noto-sans: 'Noto Sans JP', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    /* grid-auto-rows: minmax(90px, auto); */
    font-family: var(--noto-sans);
    background-color: var(--Black-haze);
    overflow: hidden;
}


main {
    padding-top: 90px;
    width: 100vw;
}

header {
    position: fixed;
    z-index: 10;
}

nav {
    height: 90px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--saffron);
    grid-row: 1;
    transition: all 200ms linear;
}

nav.hide{
    transform: translateY(-90px);
}

.logo {
    border: 2px solid var(--baltic-sea);
    color: var(--baltic-sea);
    height: 50px;
    width: 50px;
    font-size: 2.2rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 1.5rem;
    padding-right: 0.2rem;
    font-weight: 700;
    text-shadow: 3px 4px 6px rgba(0,0,0,0.56);
    box-shadow: 3px 4px 6px rgba(0,0,0,0.56);
}

.menu-btn {
    height: 40px;
    width: 40px;
    margin-right: 1.5rem;
    background-color: transparent;
    border: none;
    color: var(--baltic-sea);
    z-index: 10;
    transition: all 1800ms ease;
}

.menu-btn.show{
    background: var(--gumbo);
}

.menu-icon {
    font-size: 3rem;
}

.menu-list {
    background-color: var(--baltic-sea);
    height: 100vh;
    position: absolute;
    left: 120vw;
    list-style: none;
    top: 0;
    transition: left 1s ease;
    font-size: 2rem;
    padding-top: 120px;
    -webkit-box-shadow: -3px 7px 11px 0px rgba(0,0,0,0.56); 
    box-shadow: -3px 7px 11px 0px rgba(0,0,0,0.56);
}

.menu-list.show {
    left: 60vw;
    width: 90vw;
}

.menu-item {
    width: 60vw;
    text-align: center;
    padding: 1rem;
    display: flex;
    align-items:center;
    justify-content: start;
    padding-left: 2rem;
    border-bottom: 1px solid var(--gumbo);
}

.menu-item span{
    color: var(--Black-haze);
}

.menu-item a {
    text-decoration: none;
    color: var(--Black-haze);
}

.menu-item:hover {
    background-color: var(--gumbo);
    transform: scale(1.08);
    box-shadow: -1px 3px 4px 6px rgba(0,0,0,0.1);
}

.titles {
    grid-row: 2;
}

#about {
    grid-row: 3;
}

h1 {
    font-size: 4.2rem;
    font-family: var(--open-sans);
    margin: 1.6rem 2rem 0 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.8rem;
    margin: 0 2rem 1rem 2rem;
    color: var(--gumbo);
}

article {
    padding: 2rem;
    font-weight: 300;
}

.article-title {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    border-radius: 2rem;
    height: 4rem;
    padding-left: 1rem;
}

.article-title h3 {
    font-weight: 500;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.article-title span {
    color: var(--gumbo);
    margin-right: 1rem;
}

article p {
    margin: 1.2rem auto;
    line-height: 2.8rem;
    font-size: 1.6rem;
}

.dark {
    background-color: var(--baltic-sea);
    color: var(--Black-haze);
}

.light {
    background-color: var(--Black-haze);
    color: var(--baltic-sea);
}

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
}

.carousel {
    align-self: center;
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
    width: 94%;
}

.carousel a{
    text-decoration: none;
}

.card {
    min-width: 96%;
    /* max-width: 320px; */
    border-radius: 1rem;
    background-color: var(--Black-haze);
    color: var(--baltic-sea);
    padding: 2rem;
    margin: 4rem 1.8rem;
    scroll-snap-align: center;
    height: 610px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.card > div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.01);
    box-shadow: -3px 4px 6px 8px rgba(255,255,255,0.1);
}

.card-img {
    width: 100%;
    max-width: 350px;
}

.card h2 {
    text-align: center;
    padding-top: 1rem;
}

.card p {
    text-align: center;
}

.card img {
    border-radius: 1rem;
}

.carousel-prev, .carousel-next {
    position: absolute;
    top: 50%;
    background-color: var(--gumbo);
    cursor: pointer;
    border-radius: 50%;
    padding: 1rem;
    border: none;
    color: var(--Black-haze);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-prev {
    left: 0;
    z-index: 1;
}

.carousel-next {
    right: 0;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills-title {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.skills h3 {
    font-size: 2rem;
    color: var(--baltic-sea);
    padding: 1rem;
}

.skills span {
    color: var(--gumbo);
    padding-left: 1rem;
}

.before {
    width: 25vw;
    border-bottom: 2px solid var(--gumbo);
}

.after {
    width: 25vw;
    border-bottom: 2px solid var(--gumbo);
}

.skill-icons {
    padding: 2rem 0;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}

.skill-icons img {
    padding: 5vw;
}

footer{
    background-color: var(--baltic-sea);
    text-align: center;
    width: 100%;
    padding-bottom: 5vh;
}

footer h2{
    color: var(--saffron);
}

.social {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 4rem;
}

.social a {
    display: inline;
    width: 10vw;
    height: 18vw;
    color: var(--gumbo);
    padding-bottom: 1rem;
    transition: all 0.3s linear;
}

.social a:hover{
    color: var(--saffron);
    transform: translateY(-2rem);
    border-bottom: 1rem solid var(--saffron);
}

@media (min-width: 430px){
    .menu-list{
        border-left: 2rem solid var(--gumbo);
    }
}

@media (min-width: 540px) {
    .social a {
        padding: 2rem .5rem;
        height: 14vw;
    }
    .skill-icons {
        grid-template-columns: repeat(3, auto);
    }
    .skill-icons img {
        padding: 2vw;
    }
    .menu-list.show {
        left: 68vw;
    }
    .menu-item {
        width: 40vw;
        font-size: 2.4rem;
    }
    .menu-list{
        border-left: 3rem solid var(--gumbo);
    }
}

@media (min-width: 900px) {
    .skill-icons {
        grid-template-columns: repeat(4, auto);
    }
    .react-icon {
        grid-row: 4;
        grid-column: 3;
    }
    .vsc-icon {
        grid-row: 4;
        grid-column: 2;
    }

    .card {
        height: 450px;
    }

    .card div{
        flex-direction: row;
    }

    .card div div{
        width: 50%;
        padding: 2rem;
    }

    .menu-list.show {
        left: 75vw;
    }
    .menu-item {
        width: 25vw;
        font-size: 2.8rem;
    }
    .material-icons-round{
        font-size: 3rem;
    }
}

@media (min-width: 1240px){
    .titles{
        margin-bottom: 1rem;
        margin-left: 2rem;
    } 

    .article-title{
        height: 6rem;
        border-radius: 6rem;
        margin-bottom: 4rem;
        margin-top: 2rem;
    }

    .article-title span{
        font-size: 4rem;
    }

    .article-title h3{
        font-size: 2.8rem;
    }

    .skill-icons {
        grid-template-columns: repeat(6, auto);
    }

    .react-icon {
        grid-row: 4;
        grid-column: 4;
    }
    .vsc-icon {
        grid-row: 4;
        grid-column: 3;
    }

    .card{
        min-width:47%;
    }

    .card-img{
        max-width: 50%;
    }

    .menu-list.show {
        left: 80vw;
    }
    .menu-item {
        width: 20vw;
        font-size: 2.8rem;
    }

    article{
        padding-right: 4rem;
        padding-left: 4rem;
    }

    section{
        margin-bottom: 8rem;
    }

    section > p {
        padding-left: 3rem;
        font-size: 2rem;
    }

    .social {
        padding: 6rem;
        height: 18vw;
    }
    
    .social a {
        display: inline;
        width: 8vw;
        color: var(--gumbo);
        padding: 2rem;
        transition: all 0.3s linear;
        height: 10vw;
    }
}

@media (min-width: 1630px){
    h1{
        font-size: 6rem;
    }

    h2{
        font-size: 3rem;
    }

    .card{
        min-width:30%;
    }
    .skill-icons {
        grid-template-columns: repeat(7, auto);
    }
    
    .react-icon {
        grid-row: unset;
        grid-column: unset;
    }
    .vsc-icon {
        grid-row: unset;
        grid-column: unset;
    }
    
    .social {
        height: 15vw;
    }

    .social a {
        padding: 4rem;
    }
}
